* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Roboto" , sans-serif;
}

.row {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}

html {
   scroll-behavior: smooth;
}

ul {

}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

body {
   background-image: url(./assets/NEWmovie.background2.jpg);
   
   
}

.link__hover--effect {
   position: relative;
}

.link__hover--effect::after {
   content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    background-color: lightgray;
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.link__hover--effect:hover::after {
   left: 0;
   width: 100%;
}


/* 

NAVIGATION 

*/

nav {
   height: 100px;
   background-color: rgb(48, 46, 46);
}



.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
}

.nav__logo--container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.movie__logo {
   height: 100%;
   width: 100%;
   max-width: 80px;
   filter: invert(1);
}

.logo__name {
   color: lightgray;
   font-weight: 800;
}

.searchbar--container {
   position: relative;
   max-width: 360px;
   width: 100%;

}

.searchbar {
   padding: 12px 32px;
   border-radius: 50px;
   width: 100%;
}

.search--button {
   position: absolute;
   height: 80%;
   aspect-ratio: 1;
   right: 5px;
   top: 10%;
   border-radius: 50%;
   border: none;
   background-color: white;
   transition: all 300ms ease;
}

.search--button:hover {
   color: black;
   background-color: lightgray;
}

.fa-magnifying-glass {
   
}

.nav__links {
   display: flex;
}

.nav__link {
   margin: 0 12px;
   font-size: 18px;
   font-weight: 600;
   color: lightgray;
}



/*

HEADER 

*/


#header__section {
   margin-bottom: 80px;
}

.header__intros--container {
   padding: 48px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

.header__intro {
   color: white;
   border-bottom: 2px solid white;
   font-size: 48px;
   margin-bottom: 12px;
   padding-bottom: 10px;
}

.header__subtitle {
   font-size: 24px;
   color: white;
   text-align: center;
   width: 50%;
}

.header__subintro {
   color: white;
   font-size: 36px;
   margin-top: 48px;
   padding: 8px 0;
   border-bottom: 2px solid white;
}







.movie {
   
   display: flex;
   flex-wrap: wrap;
   
   justify-content: space-between;
   padding: 12px;
}

.movie__wrapper {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 250px;
   
}

.movie__poster {
   width: 100%;
   height: 100%;
  border-radius: 10px;
}


.movie__popup--tag {
  position: absolute;
   color: white;
   opacity: 0;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   transition: opacity 300ms, transform 450ms ease-in;
   font-size: 28px;
}



.movie__popup {
   position: absolute;
   background-color: black;
   opacity: 0;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
   width: 100%;
   height: 100%;
   border-radius: 10px;
   transition: all 300ms ease;
}

.movie__wrapper:hover {
   transform: scale(0.98);
}

.movie__wrapper:hover .movie__popup {
   opacity: 0.7;
   transition: all ease 300ms;
}

.movie__wrapper:hover .movie__poster {
   
   filter: blur(2px);
}

.movie__wrapper:hover .movie__popup--tag {
   opacity: 1;
   transform: translate(-50%, -50%);
}

.movie__wrapper:hover .movie__title {
   opacity: 0;
}





.movie__title {
   color: white;
   font-size: 28px;
   margin-top: 8px;
}


/* 

Footer

*/ 

footer {
   height: 200px;
   background-color: rgb(48, 46, 46);
   padding: 32px 24px;
}

.footer__container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer__links--container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.footer__logo--container {
   width: 100%;
   max-width: 80px;
   margin-right: 12px;
}

.footer__logo {
   width: 100%;
   filter: invert(1);
}

.footer__links {
   display: flex;
}

.footer__link {
   font-size: 24px;
   color: lightgray;
   margin-right: 24px;
}

.footer__copyright {
   color: lightgray;
   font-size: 16px;
   margin-top: 16px;
}